#tree-counter-button {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

#progress-container {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
}

#progress-bar {
  width: 0%;
  height: 5px;
  text-align: center;
  color: white;
  border-radius: 5px;
}

/* Light mode styles */
#tree-counter-button.light-mode {
  background: #fff;
  color: #1a1a1a;
}

#tree-counter-button.light-mode #progress-container {
  background-color: #deded9;
}

#tree-counter-button.light-mode #progress-bar {
  background-color: #008009;
}

/* Dark mode styles */
#tree-counter-button.dark-mode {
  background: #1a1a1a;
  color: #f0f0f0;
}

#tree-counter-button.dark-mode #progress-container {
  background-color: #555;
}

#tree-counter-button.dark-mode #progress-bar {
  background-color: #5dd25e;
}
